<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantAlias="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Socrat.DataProvider.Properties.Settings.SocratConnectionString" connectionString="Data Source=10.108.3.33;Initial Catalog=Socrat;Persist Security Info=True;User ID=sa;Password=Admin_2014" providerAlias="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://Socrat.DataProvider/SocratDbContext.csdl|res://Socrat.DataProvider/SocratDbContext.ssdl|res://Socrat.DataProvider/SocratDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=01SPO327\SQLEXPRESS;initial catalog=Socrat;Persist Security Info=True;User ID=sa;Password=Admin_2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerAlias="System.Data.EntityClient" />
    <add name="SocratEntitiesCnn" connectionString="metadata=res://*/SocratDbModel.csdl|res://*/SocratDbModel.ssdl|res://*/SocratDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.108.3.33;initial catalog=Socrat;Persist Security Info=True;User ID=sa;Password=Admin_2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerAlias="System.Data.EntityClient" />
    <add name="SocratDbContext" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.108.3.33;initial catalog=Socrat;Persist Security Info=True;User ID=sa;Password=Admin_2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerAlias="System.Data.EntityClient" />
    <add name="SocratEntities" connectionString="metadata=res://*/SocratDbContext.csdl|res://*/SocratDbContext.ssdl|res://*/SocratDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.108.3.33;initial catalog=SOCRAT_GUID;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.2.0" newVersion="6.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>