<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="SocratDbContext" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.108.3.33;initial catalog=Socrat;Persist Security Info=True;User ID=sa;Password=Admin_2014;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Sorat.Test.Properties.Settings.Параметр" connectionString="Data Source=10.108.3.33;Initial Catalog=SOCRAT;Persist Security Info=True;User ID=tester;Password=socrat"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>